<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link href="../../../../OneDrive/Desktop/School/2024%20Winter/Web%20Dev%20-%20Client%20Side%20Script/Assignment%203/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../../OneDrive/Desktop/School/2024%20Winter/Web%20Dev%20-%20Client%20Side%20Script/Assignment%203/node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link href="../../Content/style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
<header id="site-header"></header>
<h1>Logout</h1>

<footer id="site-footer" style="text-align: center; color: white"></footer>
<script src="../../Scripts/main.js"></script>
<script src="../../../../OneDrive/Desktop/School/2024%20Winter/Web%20Dev%20-%20Client%20Side%20Script/Assignment%203/node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../../../OneDrive/Desktop/School/2024%20Winter/Web%20Dev%20-%20Client%20Side%20Script/Assignment%203/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>